section {

    margin: auto;
    width: 70vw;

    h2 {
        color: $primary_grey;
        margin-top: $spacing_p * 2;
    }

    p {
        margin: $spacing_p 0;
    }

    a {
        text-decoration: none;
        color: $primary_blue;
    }
}
